img {
    width: 100%;
    border: 7px solid rgb(111, 255, 0);
}
.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

body {
    background-color: black;
}
h1 {
    color: whitesmoke;
}